$color-black: #2F3C7E;
$color-white: #FBEAEB;

$default-transition: all 0.5s ease;
$font-medium: "SpaceGrotesk-Medium", sans-serif;
$font-bold: "SpaceGrotesk-Bold", sans-serif;
$z-header: 2;
$z-mask: 4;
$z-preloader: 6;
